<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.luckyaf.oneforall.kotlin" >
    <application>
        <activity
            android:name=".mvp.ui.activity.TasksActivity"
            android:theme="@style/CommonAppTheme.OverlapSystemBar"/>

        <activity android:name=".mvp.ui.activity.AddEditTaskActivity"/>
    </application>
</manifest>
